<div class="menu__list container-fluid">
   <% menus.forEach(m => { %>
      <div>
         <h1><%= m.name %></h1>
         <span><%= m.price %></span>
         <p>
            <%= m.description %>
         </p>
         <button class="btn btn-primary">Add to cart</button>
      </div>
   <% }) %>
</div>
